@import "tailwindcss";

* {
  /* Usamos la variable definida abajo */
  font-family: var(--font-outfit);
}
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* Los colores no llevan comas al final */
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  /* Las fuentes se definen como una lista simple, sin corchetes */
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
  /* Colores de sombra */
  --shadow-light: 4px 4px 0 #fff;
  --shadow-dark: 4px 4px 0 #000;
  


}